* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(14, 70, 50), rgb(147, 216, 191), rgb(14, 70, 50));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 990px;
    background: rgb(103, 184, 154);
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}

.relogio div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 250px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 20px;
}

#fusoHorarioBotoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#fusoHorarioBotoes button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #34c2ac;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#fusoHorarioBotoes button:hover {
    background-color: #40a596;
}
